[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"], version = "*"}
redis = "*"
groq = "*"
python-dotenv = "*"
requests = "*"
psycopg2-binary = "*"
django-celery-results = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
